.Attractions-list-grid{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;
    max-width: 1024px;
    width: 100%;
    border-radius: 8px;
    position: absolute;
    height: 513px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 266px;
    

}
.Attractions-list-title{
    position: absolute;
    width: 283px;
    height: 38px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 234px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #000000;
}


.Attractions-list-cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 297px;
    width: 630px;
}
.Attractions-list-image-desktop{
    display: block;
    margin-bottom: 16px;
}
.Attractions-list-subtitle{
    position: static;
    width: 240px;
    height: 60px;
    margin-left: 24px;
    margin-bottom: 152px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #333333;
    flex: none;
    order: 0;
    flex-grow: 0;
    
}
.Attractions-list-description{
    position: static;
    max-width: 220px;
    width: 100%;
    margin-top: 101px;
    height: 96px;
    margin-left: -238px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #858585;
    flex: none;
    order: 1;
    align-self: flex-start;
    flex-grow: 0;
}