.Insert-attractions-title{
    position: absolute;
    width: 477px;
    height: 38px;
    margin-left: 130px;
    margin-top: 48px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #000000;
}
    input[type='file'] {
        display: none
}

      label{
        position: absolute;
        width: 282px;
        height: 223px;
        margin-left: 130px;
        margin-top: 258px;
        text-align: center;
        color: #858585;
}
.Attractions-list-form-image-input {
    position: absolute;
    width: 288px;
    height: 212px;
    margin-left: 130px;
    margin-top: 130px;
    border: 2px solid #E5E5E5;
    border-radius: 8px;
    text-align: center;
  }
  
.Attractions-list-form-title-input{
    position: absolute;
    padding: 15px 15px 15px;
    height: 54px;
    width: 326px;
    margin-left: 436px;
    margin-top: 100px;
    border-radius: 3.5px;
    border: 2px solid #E5E5E5;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
}
.Attractions-list-form-description-input{
    height: 132px;
    width: 414px;
    margin-left: 436px;
    margin-top: 158px;
    border-radius: 3.5px;
    border: 2px solid #E5E5E5;
    padding: 36px 18px 70px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
}
.Attractions-list-button{
    height: 56px;
    width: 121px;
    margin-left: 720px;
    margin-top: 65px;
    border-radius: 8px;
    padding: 16px 20px 16px 20px;
    background: #FF5A5F;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    flex: none;
    order: 0;
    flex-grow: 0;
    transition: background-color 0.2s linear;
}
.Attractions-list-button:hover{
    background: #f11b22;
}
.Attractions-list-button:active{
    background: #FF5A5F;
}