@import 'Form.css';
@import 'Attractions.css';
@import 'Media.css';
@import 'Insert.css';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
body{
    width: 375px;
    height: 2563px;
    position: relative;
    background: white;
    
}





