@media screen and (max-width: 414px ) {
    .Attractions-list-image-desktop{
            display: none;
    }        
}
@media screen and (min-width: 415px) {
    .Attractions-list-image-desktop{
            display: none;
    }
}@media screen and (max-width: 769px ) {
    .Attractions-list-image-mobile{
            display: none;
    }  
}
@media screen and (min-width: 770px ) {
    .Attractions-list-image-mobile{
            display: none;
    }
}
@media screen and (min-width: 375px)  and (max-width:768px) {
       *{  width: 300px;


       }
body{
        position: relative;
        max-width: 375px;
        width: 100%;
        height: 2563px;
        background: #FFFFFF;
   } 
.Insert-attractions-title{
    position: absolute;
    width: 300px;
    height: 76px;
    margin-left: 16px;
    margin-top: 16px;
    font-size: 28px;

    }
.Attractions-list-form-image-input{
    margin-left: 16px;
}
    
label{
    margin-top:260px; 
    margin-left: 16px; 
}
.Attractions-list-form-title-input{
    height: 54px;
    width: 300px;
    margin-left: 16px;
    margin-top: 353px;
    border-radius: 3.5px;
    max-width: 100%;
    
}
.Attractions-list-form-description-input{
    height: 132px;
    width: 300px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 426px;
    border-radius: 3.5px;
    
}
.Attractions-list-button{
    height: 56px;
    width: 300px;
    margin-left: 16px;
    margin-top: 39px;    
    
}
.Attractions-list-title{
    margin-top: 214px;
    margin-left: 26px; 
}
.Attractions-list-grid{
    grid-template-columns: 1fr;
    margin-left: -5px;
    gap: 300px;
    
}
.Attractions-list-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 212px;
    width: 343px;
}
.Attractions-list-subtitle{
    margin-top: 24px;
    text-align: center;
}
.Attractions-list-description{
    max-width: 337px;
    height: 212px;
    margin-top: -180px;
    margin-left: 16px;
    text-align: center;
}
}

@media screen and (max-width: 768px) {
    
          
}
@media screen and (max-width: 992px) {
   
}
@media screen and (min-width: 769px) and (max-width:1200px) { 
   
    
}
@media screen and (min-width: 769px) and (max-width:992px) { 
   
}
@media screen and (min-width: 993px) and (max-width: 1280px) {
 
}
